<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="New_Foodticketing_system.My.MySettings.accountsConnectionString"
            connectionString="Data Source=curryflex;Initial Catalog=accounts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="New_Foodticketing_system.My.MySettings.LIBRARYConnectionString"
            connectionString="Data Source=curryflex;Initial Catalog=LIBRARY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="New_Foodticketing_system.My.MySettings.Food_ticketingConnectionString"
            connectionString="Data Source=CURRYFLEX;Initial Catalog=Food_ticketing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>